.Footer
  %ul.Rules
    = link_to '#', class: 'Link1' do
      %li.Rule
        Metta利用規約
    = link_to '#', class: 'Link1' do
      %li.Rule
        Metta個人情報保護方針
  .Footer__logo
    = link_to '/', class: 'Link1 logo2' do
      -# = image_tag 'src', alt: '©️Metta', height: '', width: '', class: 'Logo2'
      ©️Metta
