.Notification {
  .notice {
    background-color: #60CAAD;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: center;
  }
  
  .alert {
    font-weight: 600;
    font-size: 14px;
    background-color: #F35500;
    color: #fff;
    text-align: center;
  }
}