.Form {
  width: 100%;
  background-color: #E9E9E9;
  font-size: 16px;
}
.FormBox {
  background-color: #ffffff;
  max-width: 440px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 4px;
  h2 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E9E9E9;
  }
  &__content { 
    margin-bottom: 10px;
    padding: 0 10px;
    select {
      padding: 8px 10px;
      width: 130px;
      border: 1px solid #E9E9E9;
      border-radius: 4px;
      margin: 0 auto;
      font-size: 14px;
      color: #6e777c;
    }
  }
  &__label {
    font-size: 14px;
    font-weight: 600;
  }
  &__field {
    padding: 8px 10px;
    width: 400px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 14px;
  }
  &__actions{
    margin: 40px auto;
    text-align: center;
  }
  &__btn {
    text-align: center;
    width: 260px;
    height: 40px;
    background-color: #60CAAD;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    transition: .3s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
    &:hover {
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    }
  }
  &__image {
    margin: 0 auto 30px;
    max-width: 380px;
  }
  &__link1 {
    text-align: center;
    margin: 30px auto;
  }
}
.Link3 {
  text-decoration: none;
  color: #60CAAD;
  font-size: 12px;
}

// 必須・任意タグ
@mixin necessary($bgColor: #ff0211) {
  margin-left: 8px;
  font-size: 12px;
  padding: 1px 4px;
  color: #ffffff;
  border-radius: 2px;
  line-height: 1.4em;
  font-weight: 600;
  background-color: $bgColor;
  
}

.rq {
  @include necessary();
}
