// トップページ
.Top {
  width: 100%;
  background-color: #E9E9E9;
  font-size: 16px;
}

.Main {
  padding-bottom: 30px;
  &__image {
    background-image: url(tree-pose-yoga-in-nature.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    h2 {
      font-size: 2.0em;
      color: #E9E9E9;
      opacity: 0.6;
      line-height: 2;
      letter-spacing: 0.15em;
      padding: 200px 0 0 30px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
  }
  &__studio {
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: #333333;
    font-weight: 500;
  }
  &__search {
    &--bar {
      height: 40px;
      line-height: 40px;
    }
    &--selectBar {
      width: 340px;
      border: none;
      background-color: #ffffff;
      height: 26px;
      padding-right: 20px;
      color: #333333;
      opacity: 60%;
    }
    &--icon {
      opacity: 60%;
      padding: 5px 0;
      margin-right: 20px;
      color: #333333;
    }
  }
  &__searchField {
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    line-height: 26px;
    margin: 0 auto;
    border-radius: 4px;
  }
  &__lessons {
    max-width: 480px;
    background-color: #ffffff;
    margin: 30px auto;
    font-size: 12px;
    padding: 20px;
    border-radius: 4px;
  }
}

.LessonList__block {
  display: flex;
  align-items: center;
  height: 42px;
  border: 1px solid #B6B6B6;
  border-radius: 10px;
  color: #333333;
  padding: 0 5px;
  margin: 8px 0;
  background-color: #ffffff;
}

.Lesson {
  &__date {
    letter-spacing: 0.01em;
    margin-left: 10px;
    width: 80px;
  }
  &__startTime {
    width: 36px;
  }
  &__endTime {
    width: 36px;
    margin-right: 8px;
  }
  &__course {
    margin-right: 10px;
    width: 130px;
  }
  &__fee {
    &--icon{
      margin-right: 5px;
    }
  }
  &__msg {
    text-align: center;
    width: 380px;
  }
}

// ヘッダー
.Header {
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  &__logo {
    margin: 5px 0 0 5px;
  }
  &__right {
    display: flex;
    color: #333333;
    line-height: 67px;
    font-size: 14px;
  }
  &__user {
    color: #333333;
    margin-right: 26px;
  }
  &__menu {
    margin-right: 20px;
  }
}

.Link1 {
  text-decoration: none;
}

// フッター
.Footer {
  background-color: #333333;
  font-size: 12px;
}

.Rules {
  padding: 40px 0 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.Rule {
  color: #9DA5A0;
  margin: 10px 10px 0;
}

.Footer__logo {
  font-size: 20px;
  text-align: center;
  padding: 16px 0 60px;
}

.logo2 {
  color: #9DA5A0;
}

// レッスン詳細ページ
.LessonBox {
  background-color: #ffffff;
  max-width: 440px;
  margin: 40px auto;
  padding: 0 30px;
  border-radius: 4px;
  &__courseContainer {
    border-bottom: 1px solid #E9E9E9;
    h2 {
      font-weight: 600;
      font-size: 20px;
      margin-left: 10px;
      padding: 20px 0 10px;
    }
  }
  &__courseImg {
    margin: 30px 10px 0;
  }
  &__courseInfo {
    white-space: pre-wrap;
    font-size: 14px;
    margin: 0 10px 20px;
  }
  &__lessonContainer {
    margin: 20px 10px;
    border-bottom: 1px solid #E9E9E9;
  }
  &__info {
    font-size: 12px;
    letter-spacing: 0.05em;
  }
  &__infoTag {
    margin-right: 5px;
    &--icon {
      color: #757575;
    }
  }
  &__infoContent {
    font-size: 14px;
    margin: 10px 0 20px;   
  }
  &__btn {
    width: 260px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    &--link {
      text-decoration: none;
    }
    &--box {
      border-radius: 4px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px;
      transition: .3s;
      &:hover {
        opacity: 0.8;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
      }
    }
    &--text {
      font-size: 14px;
    }
  }
}
.ActionBox {
  background-color: #60CAAD;
  color: #ffffff;
}
.GrayBox {
  background-color: #E9E9E9;
  color: #6E777C;
}
