.Reservation {
  background-color: #ffffff;
  max-width: 440px;
  margin: 40px auto;
  padding: 20px 30px;
  border-radius: 4px;
  h2 {
    font-weight: 600;
    font-size: 20px;
    width: 360px;
    margin: 30px auto;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
  }
  &__info {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    width: 360px;
    margin: 30px auto;
    display: flex;
    align-items: center;
  }  
  &__courseImg {
    width: 140px;
    text-align: center;
    margin-right: 10px;
  }
  &__lessonInfo {
    font-size: 13px;
    line-height: 22px;
  }
  &__courseName {
    font-size: 14px;
    font-weight: 600;
  }
  &__form {
    width: 360px;
    margin: 0 auto 10px;
  }
}

.ReservationForm {
  font-size: 16px;
  &__label {
    font-weight: 500;
  }
  &__box {
    margin: 10px 0 20px 10px;
    height: 40px;
    width: 120px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    text-align: right;
    line-height: 40px;
    color: #6E777C;
  }
  &__sbt {
    margin: 20px auto 0;
    width: 260px;
    &--action {
      width: 260px;
      font-size: 14px;
      background-color: #60CAAD;
      color: #ffffff;
      border-radius: 4px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      transition: .3s;
      border: none;
      &:hover {
        opacity: 0.8;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
      }
    }
  }
}
